
@import 'mixinsAndVariables.styl'

@import 'reset.styl'

@import 'globStyles.styl'

@import 'header.styl'

// pages' styles
@import 'index/styles.styl'
@import 'categories/styles.styl'
@import 'cart/styles.styl'
@import 'product/styles.styl'

@import 'footer.styl'