/*!----------------------------------------
 *  Page categories
 *----------------------------------------*/

/*! ============ custom table ============ */
.tg  {
  width 100%
  em(14, 14, 1)
  border-collapse:collapse;
  border-spacing:0;
}
.tg tbody > tr:nth-child(2n-1) {
  background-color #f9f9f9
}
.tg td{
  padding:10px 10px;
  overflow:hidden;
  word-break:normal;
}
.tg td:first-child {
  color: #919191;
}
.tg th{
  font-weight:normal;
  padding:10px 10px;
  overflow:hidden;
  word-break:normal;
}
.tg .tg-yw4l{
  vertical-align:top;
}

/*! ============ main styles ============ */
.PARTIC-PRODUCT
  position relative
  padding 0 0 50px
  rem(14)
  border-bottom 1px solid #8c8c8a

  //@media (min-width: 768px)
  //  rem(16)
  //@media (min-width: 992px)
  //  rem(14)
  //@media (min-width: 1200px)
  //  rem(16)
  //@media (min-width: 1500px)
  //  rem(18)

  &__aside
    padding 10px 0
    em(14, 14)
    font-weight 400
    color #989898

.product-content
  &__h4-like
    color baseBlack
    em(28, 16, 1)
    font-weight 400
    text-transform none

  &__delprice
    padding-top: 20px;
    padding-bottom: 2px;
    display: block;
    color red
    font-size: 1.25em;
    text-transform: none;

  &__price
    margin-bottom unitEM(8, 16)
    display inline-block
    padding: 0;
    color: inherit;
    font-size: 2em;
    text-transform: none;

  &__presence
    margin-bottom unitEM(8, 16)
    width auto
    @media (min-width: 768px)
      float right

  &__btn-in-cart
    margin-bottom 5px
    margin-top unitEM(20, 16)
    padding 1em 2em
    em(14, 16, 1)
    color baseBlack
    font-weight 600
    background-color saturate(#e4b24f, 30%)
    text-transform uppercase

  &__btn-in-gift
    margin-bottom 5px
    margin-top unitEM(20, 16)
    padding 1em 1.7em
    em(14, 16, 1)
    color baseBlack
    font-weight 600
    background-color #f4f4f4
    text-transform uppercase

    > p
      position relative
      padding-left 28px

      &:before
        content ''
        position absolute
        top -6px
        left 0
        background url("../img/productpage_gift.png") no-repeat center
        background-size contain
        display block
        width 24px
        height 24px

  &__advice
    margin-top 10px
    em(14, 16, 1)
    color: #919191;

  &__print-page
    em(14, 16, 1)
    color: #337ab7;
    font-weight 600
    text-decoration underline !important

  &__table-h5
    margin 20px 0 5px
    em(16, 14, 1)
    color: baseBlack
    font-weight 600

.product-aside
  &__h5
    padding 20px 0 5px
    color: lighten(baseBlack, 40%)
    font-weight 600

  &__list
    li:before
      content '\2013'
      padding-right 5px

.SIMIL-PRODS
  position relative
  padding 50px 0
  rem(14)

  //@media (min-width: 768px)
  //  rem(16)
  //@media (min-width: 992px)
  //  rem(14)
  //@media (min-width: 1200px)
  //  rem(16)
  //@media (min-width: 1500px)
  //  rem(18)

  &__left-col
    @media (min-width: 768px)
      border-right 1px solid #8c8c8a

  &__h4
    em(24, 14)
    color baseBlack
    text-transform none

  &__item
    margin 10px

  &__figure
    width 220px
    height: 300px;

  &__img-wrapper-table
    height 180px

  &__other-categ
    li
      &:before
        content '\25B6'
        color #969696
        font-size 17px
        padding-right 5px

    em(16, 14)

.flickity-prev-next-button
  top -40px
  width 30px
  height 30px
  transform none

  &.previous
    left auto
    right (10+@width)px
