/*!----------------------------------------
 *  Page cart
 *----------------------------------------*/
/*! ============ products in cart ============ */
.CART-PRODUCTS {
  position relative
  padding 0 0 50px
  rem(14)
}

/*! ============ order form ============ */
.CART-PRODUCTS {
  position relative
  //padding 0 0 50px
  rem(14)
}