/*!----------------------------------------
 *  Page categories
 *----------------------------------------*/
/*! ============ sidebar ============ */
.SIDEBAR
  position relative
  padding 10px
  rem(16)

  //@media (min-width: 768px)
  //  rem(16)
  //@media (min-width: 992px)
  //  rem(14)
  //@media (min-width: 1200px)
  //  rem(16)
  //@media (min-width: 1500px)
  //  rem(18)

.js-sb
  min-height 400px
  background-color rgba(#008800, .1)

.js-sb-main
  z-index 1001
  width 270px
  position fixed
  top 0
  left -(@width)
  bottom 0
  min-height 100%
  background-color #008800
  prefs(transition, .3s, -ms-)

.js-sb-visible
  left 0

.js-sb-bg
  z-index 1000
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(#fff, .7)
  iebgrgba('B2FFFFFF')

//.js-sidebar-toggle

/*! ============ content ============ */
.PRODUCTS
  position relative
  padding 10px
  rem(16)

  //@media (min-width: 768px)
  //  rem(16)
  //@media (min-width: 992px)
  //  rem(14)
  //@media (min-width: 1200px)
  //  rem(16)
  //@media (min-width: 1500px)
  //  rem(18)

  &__filter {
    float right
    min-width 70px
    display inline-block
    width auto
    &-text {
      float right
      line-height 34px
    }
    &-wrapper {
      @media (max-width: 767px) {
        text-align center
      }
    }
  }

  &__item
    position relative
    display block
    //prefs(box-shadow, 0 0 8px 0 rgba(0,0,0,0.5), -ms- -o-)

    &:hover
      prefs(box-shadow, 0 0 8px 0 rgba(0,0,0,0.5), -ms- -o-)

      .zoo-img
        display block
        //display none

  &__col-lg-2_5
    @media (min-width: 1500px)
      width 25%

  &__col-md-3_3
    @media (min-width: 992px) and (max-width: 1499px)
      width (100/4)%
      padding-right 2px
      padding-left 2px

  &__figure
    position relative
    height 260px
    padding 10px
    overflow hidden
    @media (min-width: 1500px)
      height 320px

  &__figcaption
    font-family 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
    em(13, 16)
    color baseBlack

    &-delprice
      padding-top 20px
      display block
      font-size 1.2em
      text-transform none

    &-price
      padding 0
      color inherit
      font-size 1.5em
      text-transform none

  &__img-wrapper-table
    width 100%
    height 145px
    display table
    border-bottom 1px solid #dadada

  &__img-wrapper-cell
    display table-cell
    vertical-align middle

  &__img
    margin 0 auto

  /.zoo-img
    display none
    cursor unquote( "url('../img/zoom_cursor.png') 0 0, auto!important" )




